#container {
  width: 800px;
  min-height: 500px;
  margin: 50px auto;
}

table, th, td {
  border: 3px #000 solid;
  border-collapse: separate;
  border-spacing: 5px;
}

#header, #footer {
  height: 60px;
}
