---
title: Welcome to Middleman
---

<table id="container">
  <!-- HEADER -->
  <tr>
    <%= partial 'header' %>
  </tr>

  <tr>
    <!-- LEFT ASIDE -->
    <td>
    </td>

    <!-- CENTER -->
    <%= partial 'center' %>
  </tr>

  <!-- FOOTER -->
  <tr>
    <td id="footer">FOOTER</td>
  </tr>
</table
