---
title: Welcome to Middleman
---

<a href="https://github.com/timstott/lotus-rouge" id="forkme">
  <%= image_tag('forkme.png') %>
</a>

<table id="container">
  <!-- HEADER -->
  <tr id="header">
    <%= partial 'header' %>
  </tr>

  <tr>
    <!-- LEFT ASIDE -->
    <td>
    </td>

    <!-- CENTER -->
    <%= partial 'center' %>
  </tr>

  <!-- FOOTER -->
  <tr id="footer">
    <td>FOOTER</td>
  </tr>
</table
